#splitter {
    height: 500px;
    border: 5px solid #aaa;
}

.col-pad {
    padding: 4px;
}

#splitter div {
    overflow: auto;
}

.vsplitbar {
    width: 5px;
    background: #aaa;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 3px 0;
}

li:hover {
    background-color: #ccc;
}

li.sel {
    background-color: #A3FDFF;
}

a {
    text-decoration: none;
    color: #000;
}

.hidden {
    visibility: hidden;
    display: none;
}
